section.section-related-projects {
		position:relative;
		width:100%;
		min-height:100px;
		padding:50px 0px;
		float:left;
		text-align:center;
		overflow:hidden;
		background:#f2f2f2;
}

section.section-related-projects h3 {
	margin-bottom:30px;
}

section.section-related-projects .carousel-wrapper {
		position: relative;
		width:100%;
		max-width:750px;
		margin:0px auto;
}

/* rp item */
section.section-related-projects .carousel-wrapper .rp-item {
	position:relative;
	max-width:250px;
	background:#fff;
	min-height:200px;
	border-radius:5px;
	overflow:hidden;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.09);
    margin: 20px 0px;
    transition:all .5s;
}

section.section-related-projects .carousel-wrapper .rp-item:hover  {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.09);
}

section.section-related-projects .carousel-wrapper .rp-item a:hover > .rp-caption {
    color:#E74B3D;
}

section.section-related-projects .carousel-wrapper .rp-item .rp-img{
		position:relative;
		width:100%;
		display:inline-block;
		background-color:#eee;
		min-height:150px;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
}


section.section-related-projects .carousel-wrapper .rp-item .rp-caption{
		position: relative;
    width: 100%;
    display: inline-block;
    padding: 20px 0px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 800;
    color: #565656;
		letter-spacing: .5px;
}

section.section-related-projects .slick-prev {
    position: absolute;
    top: 50%;
    display: block;
		font-size: 0px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
		left:0px;
		z-index:999;
		background-color: #E74B3D;
		border:none;
    border-radius: 60px;
    width: 40px;
		height: 40px;
		background-image:url('../img/slick-arrow-left-white.svg');
		background-repeat: no-repeat;
		background-position:center center;
}

section.section-related-projects .slick-next {
    position: absolute;
    top: 50%;
    display: block;
		font-size: 0px;
		background-color: #E74B3D;
		border:none;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
		right:0px;
    border-radius: 50px;
    width: 40px;
		height: 40px;
		background-image:url('../img/slick-arrow-right-white.svg');
		background-repeat: no-repeat;
		background-position:center center;
}


section.section-related-projects ul.slick-dots {
    position: relative;
    width: 100%;
    bottom: 0px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

section.section-related-projects ul.slick-dots li {
	list-style: none;
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
}

section.section-related-projects ul.slick-dots li button {
		width: 15px;
    height: 15px;
    border-radius: 50%;
    text-indent: -9999999999999px;
    cursor: pointer;
    background-color: #9e9b93;
		transition: all .2s;
		padding:0px;
		border:none;
}

section.section-related-projects ul.slick-dots li.slick-active button {
	background-color:#E74B3D;
}